{%- from "nginx/map.jinja" import nginx with context -%}

{%- for include in nginx.config.get('includes', []) %}
include {{ include }};
{%- endfor %}

user  {{ nginx.user }};
worker_processes  {{ nginx.config.worker_processes }};
worker_rlimit_nofile {{ nginx.config.worker_rlimit_nofile }};

error_log  {{ nginx.log_dir }}/error.log warn;
pid        {{ nginx.pid_file }};


events {
    {%- for k, v in nginx.config.events.items() %}
    {{ k }}  {{ v }};
    {%- endfor %}
}


http {
    sendfile {{ nginx.config.http.sendfile }};
    tcp_nopush {{ nginx.config.http.tcp_nopush }};
    tcp_nodelay {{ nginx.config.http.tcp_nodelay }};
    keepalive_timeout {{ nginx.config.http.keepalive_timeout }};
    gzip {{ nginx.config.http.gzip }};
    types_hash_max_size {{ nginx.config.http.types_hash_max_size }};
    server_tokens {{ nginx.config.http.server_tokens }};

    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  {{ nginx.log_dir }}/access.log  main;

    {%- for include in nginx.config.http.includes %}
    include {{ include }};
    {%- endfor %}
}
