nginx:
  manage_repo: True
  certificates:
    cert.domain.com:
      key:
        source: http://url.domain.com/cert.key
        source_hash: http://url.domain.com/cert.key.md5
      crt:
        source: http://url.domain.com/cert.crt
        source_hash: http://url.domain.com/cert.crt.md5
  upstreams:
    upstream:
      source: http://url.domain.com/upstream.conf
      source_hash: http://url.domain.com/upstream.conf.md5
  sites:
    server:
      source: http://url.domain.com/server.conf
      source_hash: http://url.domain.com/server.conf.md5