nginx:
  manage_repo: True
  service_reload: True
  purge_servers: True
  certificates:
    cert.domain.com:
      key:
        source: http://url.domain.com/cert.key
        source_hash: http://url.domain.com/cert.key.md5
      crt:
        source: http://url.domain.com/cert.crt
        source_hash: http://url.domain.com/cert.crt.md5
  servers:
    default:
      source: salt://nginx-files/sites-available/default.conf.jinja
      prefix: '00-'
      settings:
        server_name: site.domain.com
  files:
    upstreams:
      type: directory
      source: salt://nginx-files/upstreams
    locations:
      type: directory
      source: salt://nginx-files/locations
    limits:
      type: directory
      source: salt://nginx-files/limits
    zones:
      type: directory
      source: salt://nginx-files/zones

