# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set os         = salt['grains.get']('os') %}
{%- set osrelease  = salt['grains.get']('osrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'nginx/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values
that differ from what is in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'ssl_pkgs': ['openssl'],
        'extra_pkg': 'nginx-extras',
        'pkg': 'nginx',
        'service': 'nginx',
        'user': 'nginx',
        'group': 'nginx',
        'default_conf_file': '/etc/nginx/conf.d/default.conf',
        'conf_dir': '/etc/nginx',
        'conf_file': '/etc/nginx/nginx.conf',
        'ssl_dir': '/etc/nginx/ssl',
        'dh_file': '/etc/nginx/ssl/dhparam.pem',
        'repo': {
            'humanname': 'nginx',
            'name': 'deb http://nginx.org/packages/mainline' ~ os|lower ~ '/ ' ~ oscodename|lower ~ ' nginx',
            'file': '/etc/apt/sources.list.d/nginx.list',
            'keyserver': 'pgp.mit.edu',
            'keyid': '573BFD6B3D8FBC641079A6ABABF5BD827BD9BF62',
        },
    },
}
, grain="os_family"
, merge=salt['pillar.get']('nginx:lookup')) %}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.nginx.update(os_family_map) %}

{## Merge in nginx:lookup pillar ##}
{% set nginx = salt['pillar.get'](
        'nginx',
        default=default_settings.nginx,
        merge=True
    )
%}
